/*
* @Author: Administrator
* @Date:   2018-02-08 01:22:14
* @Last Modified by:   Administrator
* @Last Modified time: 2018-02-09 02:02:46
*/
body{
 min-width: 300px;
 width: expression_r( document.body.clientWidth < 300 ? "300px" : "auto" );
}

.container-fluid{
	padding:0px;
	width: 100%;
	}

@media screen and (min-width:768px ){
	.navbar .container-fluid{
	width: 940px;
	}
}
@media screen and (min-width:1200px ){
	.navbar .container-fluid{
	width: 1140px;
	}
}
@media screen and (max-width:768px ){
	.navbar a{
		margin-left: 15px;
	}
	.navbar button{
		margin-right: 15px;
	}
}
	



/* 图标 */

/* 中间渐变那片区域的样式 */
.mybody .jumbotron{
	/* background-color: red; */
background: #020031;
background: -moz-linear-gradient(45deg, #020031 0%, #6d3353 100%);
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353));
background: -webkit-linear-gradient(45deg, #020031 0%,#6d3353 100%);
background: -o-linear-gradient(45deg, #020031 0%,#6d3353 100%);
background: -ms-linear-gradient(45deg, #020031 0%,#6d3353 100%);
background: linear-gradient(45deg, #020031 0%,#6d3353 100%);

}
.mybody{
	margin-top: 50px;
	color: #fff;
	text-align: center;
}
.mybody .jumbotron{
	margin-bottom: 0;
}
.mybody h1{
	font-weight: 700;
	font-size: 120px;
}
.mybody p:nth-of-type(1){
	font-size: 40px;
}
.mybody .btn{
	margin:15px 0px;
	padding:15px 40px;
	font-size: 18px;
}

.mybody p:nth-of-type(3) a{
	margin-right: 16px;
	color: #bbb;

}
.mybody p:nth-of-type(3) a:hover{
	color: #eee;
}
.mybody p:nth-of-type(3){
	font-size: 14px;
	color: #999;
}
.my-v3{
	height: 55px;
	text-align: center;
	border-bottom: 1px solid #999;
	background-color: #eee
}
.my-v3 a{
	line-height: 55px;
}
/* 中间渐变那片区域的样式 */

.mycontent{
	text-align: center;
}

.mycontent .thumbnail{
	max-width: 300px;
}
.mycontent .thumbnail .caption{
	height: 200px;
}
@media screen and (max-width:992px ){
	.mybody h1{
	font-size: 90px;
	}
	.mybody p:nth-of-type(1){
		font-size: 25px;
	}
}
@media screen and (max-width:768px ){
	.mycontent .thumbnail {
	margin: 0 auto;
	margin-bottom: 20px;
	}
	.mybody h1{
	font-size: 60px;
	}
	.mybody p:nth-of-type(1){
		font-size: 20px;
	}
}









.myfooter{
	border-top: 1px solid #ddd;
	padding-top: 50px;
	width: 100%;
	margin-top: 100px;
}
.myfooter img{
	margin-bottom: 10px;
}
.myfooter a{
	color: #999;
}
.myfooter .line {
	padding:20px 0 30px 0;
	width: 100%;
	display: inline-block;
	border-top: 1px solid #ddd;
	text-align: center;
	margin-top: 50px;
}
.myfooter .line a{
	margin-right: 10px; 
}
.myfooter .line a::after{
	content: '|';
	display: inline-block;
	margin-left: 10px; 
}